body {
    background: #3e4d8e url(../img/bg-fundo.png) repeat-x;
    font: 12px "Lucida Grande", "Lucida Sans Unicode", Arial, sans-serif;
}

#container {
    width: 1080px;
    margin: 0 auto;
}

a:link, a:active, a:visited {
    color: #fff;
    text-decoration: none;
}

/* Logo */

#logo h1 {
    float: left;
}

#logo a {
    width: 1000px;
    height: 160px;
    text-indent: -9999px;
    display: block;
    background: url(../img/logo.png) no-repeat;
}

#banner img {
    width: 633px;
    height: 333px;
    margin-top: 20px;
    float: right;
}

/* Barra de navegação */

header {
    padding: 20px 0;
    height: 55px;
}

nav ul {
    list-style: none;
    margin: 20px;
    float: right;
}

nav ul li a:link {
    display: block;
    margin-right: 25px;
    padding-bottom: 3px;
    text-transform: uppercase;
}