@font-face {
    font-family: 'sole-sans-medium';
    src: url(../fonts/sole-sans-medium.ttf) format("truetype");
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-wrap: wrap;
    flex: 1 1 100vw;
    margin: 3px;
    background: #f5f2f2;
    font-family: 'sole-sans-medium', sans-serif;
}

header, nav, main, aside, footer {
    background: #f5f2f2;
    display: flex;
    margin: 3px;
}

header {
    flex: 1 1 100vw;
    height: 100px;
    background-color: rgb(23, 23, 67);
}

header #logo {
    display: flex;
    flex: 0 1 370px;
    justify-content: center;
    align-items: center;
}

header a#logo {
    background: url(../img/logo.png) no-repeat center center;
    text-indent: -9999px;
}

header nav {
    justify-content: flex-end;
    align-items: center;
    flex: 1 1 200px;
    background-color: rgb(23, 23, 67);
    text-decoration: none;
    color: white;
}

#openMenu, #closeMenu {
    border: none;
    background: none;
    font-size: 30px;
    font-weight: bold;
    padding: 0px 5px 0px 5px;
    cursor: pointer;
    display: none;
}

header nav a {
    margin: 0 3%;
    font-size: 15pt;
    color: white;
}

main {
    flex: 20 1 500px;
    flex-direction: column;
}

main header {
    display: flex;
    flex-direction: row;
    flex: 1 1 100%;
    width: 100%;
    justify-content: flex-end;
    border: 1px solid red;
    background: url(../img/bg-fundo.png ) repeat-x;
}

main header section#banner1 {
    flex: 1 1 100%;
    order: 2;
    flex-wrap: wrap;
    margin: 5% 0 5% 0;
}

main header section.bannerText {
    margin: 10% 5% 0 8%;
}

main header section.bannerText h1 {
    color: #fff;
    font-weight: 500;
    font-size: 25pt;
    margin-top: 3%;
}

main header section.bannerText h3 {
    color: #fff;
    font-size: 13pt;
    font-weight: 100;
    margin-top: 3%;
}

main header section.bannerText h4 {
    color: #6133b0b0;
    font-size: 9pt;
    font-weight: 100;
    text-transform: uppercase;
}

main header section.bannerText button {
    background: #6133b0b0;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 10pt;
    font-weight: 780;
    cursor: pointer;
    margin-top: 6%;
    border-radius: 5px;
}

main article#first {
    display: flex;
}

main section.bannerText {
    margin: 5% 0 5% 8%;
    width: 50%;
}

main section.bannerText h2 {
    color: #141414;
    font-weight: 500;
    font-size: 25pt;
    margin-top: 1%;
}

main section.bannerText h3 {
    color: #141414;
    font-size: 13pt;
    font-weight: 100;
    margin-top: 1%;
    width: 90%;
    line-height: 1.6em;
}

main section.bannerText h4 {
    color: #515153b0;
    font-size: 9pt;
    font-weight: 100;
    text-transform: uppercase;
}

main section.bannerText button {
    background: #6133b0b0;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 10pt;
    font-weight: 780;
    cursor: pointer;
    margin-top: 2%;
    border-radius: 5px;
    text-transform: uppercase;
}

main article.littleText {
    width: 25%;
    margin: 11% 0 5% 1%;
}

footer {
    flex: 1 1 100vw;
}

a {
    text-decoration: none;
}

@media only screen and (max-width: 717px) {
    #openMenu, #closeMenu {
        display: block;
    }
    
    #openMenu {
        margin-left: auto;
    }

    #closeMenu {
        position: fixed;
        right: 15px;
        top: 15px;
    }

    nav {
        position: fixed;
        width: 100vw;
        height: 100vh;
        background: rgba(255, 255, 255, 0.8);
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 0;
        opacity: 0;
        transition: 0.3s;
    }

    nav a {
        margin: 3%;
    }

    main header {
        flex-direction: column;
    }

    main header section#banner1 {
        margin-left: 10%;
    }

    main article#first {
        flex-direction: column;
    }
}