@font-face {
    font-family: 'sole-sans-medium';
    src: url(../fonts/sole-sans-medium.ttf) format("truetype");
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'sole-sans-medium', sans-serif;
}

header {
    display: flex;
    width: 100%;
    height: 100px;
    background-color: rgb(23, 23, 67);
}

header #logo, nav#menu {
    display: flex;
    justify-content: center;
    align-items: center;
}

header #logo {
    width: 30%;
}

header a#logo {
    background: url(../img/logo.png) no-repeat center center;
    text-indent: -9999px;
}

header nav#menu {
    width: 70%;
}

header nav#menu a {
    margin-left: 10%;
    text-decoration: none;
    color: #fff;
    font-size: 14pt;
}

main #firstScreen {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 556px;
    background: url(../img/bg-fundo.png);
    border: 1px solid red;
}

main section.bannerText {
    width: 30%;
    border: 1px solid red;
}

main section#banner1 {
    display: flex;
    justify-content: center;
    width: 50%;
    border: 1px solid red;
}


main section.bannerText h1 {
    color: #fff;
    font-weight: 500;
    font-size: 30pt;
    margin-top: 5%;
    padding-right: 15%;
}

main section.bannerText p {
    color: #fff;
    font-size: 13pt;
    font-weight: 100;
    margin-top: 5%;
    padding-right: 40%;
}

main section.bannerText h4 {
    color: #b296e4b0;
    font-size: 9pt;
    font-weight: 100;
    text-transform: uppercase;
}

main section.bannerText button {
    color: #fff;
    background-color: rgb(107, 107, 224);
    border: none;
    width: 40%;
    margin-top: 5%;
    font-size: 12pt;
    padding: 3% 3%;
    border-radius: 8px;
}