@font-face {
    font-family: 'sole-sans-medium';
    src: url(../fonts/sole-sans-medium.ttf) format("truetype");
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'sole-sans-medium', sans-serif;
}

header {
    display: flex;
    width: 100%;
    height: 100px;
    background-color: rgb(23, 23, 67);
}

header #logo, nav#menu {
    display: flex;
    justify-content: center;
    align-items: center;
}

header #logo {
    width: 30%;
}

header a#logo {
    background: url(../img/logo.png) no-repeat center center;
    text-indent: -9999px;
}

header nav#menu {
    width: 70%;
}

header nav#menu a {
    margin-left: 10%;
    text-decoration: none;
    color: #fff;
    font-size: 14pt;
}

main #firstScreen {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 556px;
    background: url(../img/bg-fundo.png);
}

main #firstScreen section.bannerText {
    width: 30%;
    border: 1px solid red;
}

main #firstScreen section#banner1 {
    display: flex;
    justify-content: center;
    width: 50%;
    border: 1px solid red;
}


main #firstScreen section.bannerText h1 {
    color: #fff;
    font-weight: 500;
    font-size: 30pt;
    margin-top: 5%;
    padding-right: 15%;
}

main #firstScreen section.bannerText p {
    color: #fff;
    font-size: 13pt;
    font-weight: 100;
    margin-top: 5%;
    padding-right: 40%;
}

main #firstScreen section.bannerText h4 {
    color: #b296e4b0;
    font-size: 9pt;
    font-weight: 100;
    text-transform: uppercase;
}

main #firstScreen section.bannerText button {
    color: #fff;
    background-color: rgb(107, 107, 224);
    border: none;
    width: 40%;
    margin-top: 5%;
    font-size: 12pt;
    padding: 3% 3%;
    border-radius: 8px;
}

main #secondScreen {
    display: flex;
    align-items: top;
    width: 100%;
    margin-top: 5%;
    border: 1px solid red;
}

main #secondScreen section.bannerText {
    width: 60%;
    margin-left: 8%;
    border: 1px solid red;
}

main section.bannerText h2 {
    color: #1e1e1e;
    font-weight: 500;
    font-size: 29pt;
    margin-top: 2%;
}

main section.bannerText p {
    color: #1b1b1b;
    font-size: 12pt;
    font-weight: 100;
    margin-top: 3%;
}

main section.bannerText h4 {
    color: #b296e4b0;
    font-size: 9pt;
    font-weight: 100;
    text-transform: uppercase;
}

main section.bannerText button.purpleButton {
    color: #fff;
    background-color: rgb(107, 107, 224);
    border: none;
    width: 40%;
    margin-top: 5%;
    font-size: 8pt;
    text-transform: uppercase;
    padding: 2% 2%;
    border-radius: 8px;
}

main #secondScreen #secondScreen2 {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 8%;
    margin-left: 2%;
    margin-top: 9%;
    width: 50%;
    border: 1px solid red;
}

main article.littleText  {
    padding-left: 5%;
}

main article.littleText h3 {
    background: url(../img/mini-logo.png) no-repeat;
    padding-left: 18%;
    font-size: 12pt;
}

main article.littleText p {
    margin-top: 5%;
    font-size: 11pt;
}

main #banner2 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 5%;
    border: 1px solid red;
}

main #thirdScreen {
    display: flex;
}

main #third-content {
    display: flex;
    flex-direction: column;
    width: 40%;
    margin-left: 8%;
}

main #third-content section.bannerText {
    border: 1px solid red;
}

main #third-content #third-content2 {
    border: 1px solid red;
    display: flex;
    justify-content: flex-start;
}

main #third-content article.littleText {
    margin-top: 5%;
}

main #third-content article.littleText h3 {
    padding-right: 15%;
}

main #third-content article.littleText button {
    color: #fff;
    background-color: rgb(107, 107, 224);
    border: none;
    width: 60%;
    margin-top: 3%;
    font-size: 8pt;
    text-transform: uppercase;
    padding: 2% 2%;
    border-radius: 8px;
}

main .banner2 {
    margin-left: 5%;
    margin-top: 0%;
    border: 1px solid red;
}

main #depoiment {
    margin-top: 5%;
    margin-bottom: 5%;
    border: 1px solid red;
    display: flex;
    justify-content: center;
}

main #fifthScreen {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10%;
    background: url(../img/bg-fundo.png);
    padding: 5%;
}

main #fifthScreen section.bannerText {
    width: 40%;
}

main #fifthScreen section.bannerText h2 {
    color: #fff;
}

main #fifthScreen section.bannerText p {
    color: #fff;
    margin-bottom: 3%;
}

main #sixthScreen {
    display: flex;
    border: 1px solid red;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
    margin-bottom: 5%;
}

main #seventhScreen {
    display: flex;
    margin-left: 8%;
    margin-right: 8%;
}

main #seventhScreen section.bannerText {
    width: 50%;
}

main #seventhScreen #seventhScreen2 {
    display: flex;
    margin-top: 10%;
    width: 50%;
    text-align: justify;
    height: 100%;
}

main #seventhScreen article.littleText h3 {
    padding-bottom: 5%;
}

main #form {
    display: flex;
    justify-content: center;
    align-items: center;
    background: url(../img/form.png) no-repeat center center;
    height: 100%;
    margin-top: 5%;
    padding: 8%;
}

main form#form1 {
    margin-left: 28%;
}

main form#form1 h3 {
    color: #fff;
    font-size: 23pt;
    font-weight: 500;
}

main form#form1 p {
    color: #fff;
    font-size: 13pt;
    font-weight: 100;
    margin-top: 3%;
    margin-bottom: 2%;
    padding-right: 15%;
}

main form#form1 input[type="text"] {
    color: #fff;
    font-size: 13pt;
    font-weight: 100;
    margin-top: 3%;
    border-radius: 5px;
    border: none;
    padding: 1%;
}

main form#form1 input[type="email"] {
    color: #fff;
    font-size: 13pt;
    font-weight: 100;
    margin-top: 3%;
    border-radius: 5px;
    border: none;
    padding: 1%;
}

main form#form1 input[type="submit"] {
    color: #fff;
    background-color: rgb(107, 107, 224);
    border: none;
    width: 20%;
    font-size: 10pt;
    text-transform: uppercase;
    padding: 2%;
    border-radius: 8px;
    margin-left: 2%;
} 